<div class="container">
    <div class="row header-row">
        <div class="col-md-3 logo">
            <a href="/file-manager" class="headerLink"><h2>Mannschaft</h2></a>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-4 search">
            <form action="/file-manager" method="post">
                <div class="input-group">
                    <input type="text" id="searchTerm" value="{{ searchValue }}" name="searchTerm" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-secondary" value="Go">
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row title-row">
        <div class="col-md-8">
{{#if hasHeaderBreadcrumbs}}
            {{> headerBreadcrumbs}}
{{/if}}
            <h3>{{title}}</h3>
{{!-- 
    a little different in that 
    I'm not creating a separate
    hasSubtitle boolean conditional
    because there is no partial
--}}
{{#if subtitle}}
            <small class="text-muted">
                {{subtitle}}
            </small>
{{/if}}
        </div>
{{#if hasHeaderUpload}} 
        {{> headerUpload}} 
{{/if}}
{{#if hasHeaderDownload}}
        {{> headerDownload}}
{{/if}}
    </div>
</div>

{{#if hasTitleRowBorder}}
<hr />
{{else}}
{{!-- consider replacing <br /> with relevant CSS --}}
<br />
{{/if}}