<div class="col-md-4 upload">
    <a href="upload" class="btn btn-primary btn-block">
		Upload Files&nbsp;
        <i 
            class="fa fa-upload fa-align-right" 
            aria-hidden="true" 
            style="color:white;"></i>
    </a>
</div>