<!DOCTYPE html>
<html>

<head>
    <title>Mannschaft - File Branching</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9f419babb4.js"></script>
</head>

<body>
{{#if hasHeader}}
    {{> header}}
{{/if}}
    <div class="container{{#if containerName}} {{containerName}}-container{{/if}}">
        {{{body}}}
    </div>
{{#if footerBorder}}
    <hr />
{{/if}}
    <p class="footer">
        Copyright &copy; 2017 Mannschaft{{#if hasLogout }} - <a href="/logout">Logout</a>{{/if}}
    </p>
</body>
<script>
    
    // Hides/Displays the Hidden Checkboxes used for Merging
    $("#mergeBtn").click(function() {
        $(".hiddenColumn").toggle();
    });

    // Shows Merge Button if Two Checkboes Selected
    $("input[name='merge']").change(function() {
        var cLength = $("input[name='merge']:checked").length;
        if (cLength >= 2) {
            $("#finalMerge").show();
        }
        else {
            $("#finalMerge").hide();
        } 
    });

</script>
</html>