<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Edit/Save Online</h4>
                <p class="card-text">Edit the text document online using the Mannschaft online IDE.</p>
                <a href="/edit" class="btn btn-primary btn-block">Begin Editing</a>
            </div>
        </div>
    </div>
    <div class="col-md-1 text-centered branch-divider">
        <p>or</p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Upload Revised File</h4>
                <p class="card-text">Upload your revised file to be added to the branch.</p>
                <a href="/upload-branch?id={{ id }}" class="btn btn-primary btn-block">Upload Revised File</a>
            </div>
        </div>
    </div>
</div>