<form action="/create" method="POST">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="name" class="form-control" type="text" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input name="author" class="form-control" type="text" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="changes">Description of File</label>
                <textarea name="description" class="form-control" placeholder="Description/Changes" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="changes">Text File Contents</label>
                <textarea name="contents" class="form-control" placeholder="Text File Contents" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-center upload-btn">
        <div class="col-md-3">
            <input type="submit" class="btn btn-primary btn-block" value="Upload File">
        </div>
    </div>
</form>