<!--<table class="table revision-table table-hover">
    <thead>
        <tr>
            <th class="changes-made">Changes</th>
            <th class="last-modified">Modified Date</th>
            <th>Branch/Download</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="changes-made"><a href="#">HelloWorld.txt</a> <span class="badge badge-default">Original</span></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><i class="fa fa-code-fork" aria-hidden="true"></i> / <i class="fa fa-download" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td class="changes-made"><a href="#">Added a space between Hello and World</a></td>
            <td class="last-modified">9/13/17 @ 12:00 PM</td>
            </td>
            <td><i class="fa fa-code-fork" aria-hidden="true"></i> / <i class="fa fa-download" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td class="changes-made"><a href="#">Capitalized "world"</a></td>
            <td class="last-modified">9/16/17 @ 10:30 AM</td>
            </td>
            <td><i class="fa fa-code-fork" aria-hidden="true"></i> / <i class="fa fa-download" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td class="changes-made"><a href="#">Added a period to the end of file</a></td>
            <td class="last-modified">9/20/17 @ 2:30 PM</td>
            </td>
            <td><i class="fa fa-code-fork" aria-hidden="true"></i> / <i class="fa fa-download" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table> -->

<h3>Contents</h3>
<pre style="font-family: arial;">{{ contents }}</pre>

<h3>Versions</h3>
<ul>
{{#each versions}}
    <li>{{ date }} - {{ description }}</li>
{{/each}}
</ul>