<form>
    <div class="row">
        <textarea class="form-control" rows="10">Hello World.</textarea>
    </div>
    <div class="row justify-content-center edit-buttons">
        <div class="col-md-2">
            <a href="#" class="btn btn-secondary btn-block">Cancel</a>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary btn-block">Save</a>
        </div>
    </div>
</form>