<table class="table table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            <th class="last-modified">Last Modified</th>
            <th>Branch/Download</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document">HelloWorld.txt</a></td>
            <td class="last-modified">9/9/17 @ 10:10 AM</td>
            </td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <i class="fa fa-download"
                    aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>