<table class="table table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            <th class="last-modified">Last Modified</th>
            <th>Branch/Download</th>
        </tr>
    </thead>
    <tbody>
        {{#each docs}}
        <tr>
            <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
            <td><a href="document/{{ id }}">{{ title }}</a></td>
            <td class="last-modified">{{ date }}</td>
            <td><a href="branch-type"><i class="fa fa-code-fork" aria-hidden="true"></i></a> / <a href="file/{{id}}"><i class="fa fa-download"
                    aria-hidden="true"></i></a></td>
        </tr>

        {{/each}}
    </tbody>
</table>
