{{#if showError}}
<div class="row">
    <div class="alert alert-danger col-lg-4 col-md-6 col-sm-12 col-center">
        Error! Please try again.
    </div>
</div>
{{/if}}

{{#if status}}
<h1>{{{status}}}</h1>
{{/if}}

<div class="row header-row">
    <div class="col-lg-4 col-md-6 col-sm-12 logo col-center">
        <h2>Mannschaft</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-center login">
        <form action="/" method="POST">
            <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Login">
        </form>
    </div>
</div>