<h1>Solr Client</h1>

<form action="/solr" method="POST">
    <fieldset>
        <legend>
            <h2>add document to index</h2>
        </legend>
        <label for="title">
            <span>document title</span>
            <input type="text" name="title" required>
        </label>
        <label for="description">
            <span>description</span>
            <input type="text" name="description" required>
        </label>
        <p class="form-control">
            <button type="submit">add document to index</button>
        </p>
    </fieldset>
</form>