<h1>Solr Client</h1>

<form action="/solr" method="POST">
    <fieldset>
        <legend><h2>add a document to the index</h2></legend>
        <label for="title">
            <span>title</span>
            <input type="text" name="title" required>
        </label>
        <label for="description">
            <span>description</span>
            <textarea name="description" cols="30" rows="2" required></textarea>
        </label>
        <label for="contents">
            contents
            <textarea name="contents" cols="30" rows="10" required></textarea>
        </label>
        <p class="form-control"><button type="submit">add a document to the index</button></p>
    </fieldset>
</form>