<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="file-upload">File:</label>
                <input type="file" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" class="form-control" type="text" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input name="author" class="form-control" type="text" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="changes">Description/Changes</label>
                <textarea name="changes" class="form-control" placeholder="Description/Changes" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row justify-content-center upload-btn">
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Upload File</a>
        </div>
    </div>
</form>